/*These are the global CSS styles for the whole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This is the background color for the body section*/
body {
    background-color: #d9dcd6;
}
/*This is the style for the header section*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This is the style for the header section that contains H1 elements in the HTML*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* this is the style for the header section with a child section .seo and H1 HTML tags*/
.header h1 .seo {
    color: #d9dcd6;
}
/* this is the style for the header nav section*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none; /*this was moved from the class .header nav ul*/
}
/* This section can be removed since there is no seperate style needed specific to the ul section.  The list style type that was here was added to the .header nav style above
.header nav ul {
    list-style-type: none;
} */
/*This section is specific to the style of the nav list*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*This section is the style for any anchors */
a {
    color: #ffffff;
    text-decoration: none;
}
/*This section is the style for paragraph */ 
p {
    font-size: 16px;
}
/*This section is the style for the hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This section is the style for the alignment of the left content to be on the left side */
.float-left {
    float: left;
    margin-right: 25px;
}
/*This section is the style for the alignment of the right content to be on the right side */
.float-right {
    float: right;
    margin-left: 25px;
}
/*This section is the style for the content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This section is the style for the benefits section*/ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*This section is the style for each of the benefits child sections */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Created this new section as the H3 element in the benefits class are all the same*/
.benefits {
    margin-bottom: 10px;
    text-align: center;
}

/* Removed these sections and moved everything to a new CSS class above called .benefits 

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
*/

/* This section is the style for the right benefit section images*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This section is the style for the search engine optimization section*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*This section is the style for the online reputation managment section*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*This section is the style for the social media marketing section*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*This section is the style for the search engine optimation image*/
.search-engine-optimization img {
    max-height: 200px;
}
/*This section is the style for the online reputation management image*/
.online-reputation-management img {
    max-height: 200px;
}
/*This section is the style for the social media marketing image*/
.social-media-marketing img {
    max-height: 200px;
}
/* Added this new section as all the h2 elements in the .content class are the same*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Removed these sections and combined them above as all the h2 elements in the .content class are the same
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/
/*This section is for the footer style*/ 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*This section is for the h2 element in the footer class*/
.footer h2 {
    font-size: 20px;
}
